@model FormFlow.Models.Transition

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Transition</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FromStep.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FromStep.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ToStep.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ToStep.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransitionType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransitionType.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
